html,body {height:100%;
  scroll-behavior:smooth;
}
body > * {
  background-repeat: no-repeat;
  background-position: center;
}

body {font-family: 'Geomanist Light'}
h1,h2,h3,h4 {font-family: 'Geomanist Black'}
.slogan {font-family: 'Geomanist Medium'}
.nav,.title,h5 {font-family: 'Geomanist Regular'}
.text {font-family: 'Geomanist Light Italic'}

.bg-gray {background:#ccc;}
#pills-tab  .nav-item {}
#pills-tab .nav-item .active {font-weight:bold; background:transparent;}
.opaque-overlay {
  overflow: hidden;
  position: relative; 
}
.opaque-overlay > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.75);
}

.px2 {padding-left:2px !important;padding-right:2px !important;}
.underline {font-size:22px;border-bottom:3px solid #000;padding-bottom:0px;}
.underline2 {border-bottom:2px solid #000;padding-bottom:6px;}
.card-text {font-size:13px;border-top:3px solid #000;padding-top:8px;}
.card ul li {font-size:14px;}
.intro {border-top:2px solid #444;border-bottom:2px solid #444;}

.cap::first-letter {
  font-family: 'Archivo Black', sans-serif;
  color: #444;
  float: left;
  font-size: 2em;
  margin: 0 .2em 0 0;
}
.shadow {text-shadow: 1px 1px 3px rgba(0,0,0,0.3);}

.img-overlay {
  position: fixed;
  top: 90px;
  max-height: 80%;
  left: 50%;
  transform: translate(-50%, 0) scale(0, 0);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all .3s ease;
}

.overlay-dark {
  top: 0;
  position: fixed;
  background-color: #000;
  opacity: .9;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
}

@font-face { 
  font-family: Geomanist Black; 
  src: url('../fonts/Geomanist-Black.otf'); 
}

@font-face { 
  font-family: Geomanist Bold; 
  src: url('../fonts/Geomanist-Bold.otf'); 
}

@font-face { 
  font-family: Geomanist Regular; 
  src: url('../fonts/Geomanist-Regular.otf'); 
}

@font-face { 
  font-family: Geomanist Medium; 
  src: url('../fonts/Geomanist-Medium.otf'); 
}

@font-face { 
  font-family: Geomanist Light; 
  src: url('../fonts/Geomanist-Light.otf'); 
}

@font-face { 
  font-family: Geomanist Light Italic; 
  src: url('../fonts/Geomanist-Light-Italic.otf'); 
}





.bg-text {
    background-color: transparent;
    overflow: hidden;
}
.bg-text::after {
    color: #fafafa;
    content: attr(data-bg-text);
    display: block;
    font-size: 240px;
    font-family: 'Geomanist Medium';
    letter-spacing:6px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:-1;
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #000;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}

.carousel-item img {max-height:580px;}
.carousel-caption-below {color:#000;position:relative;left:auto;right:auto;}



@include media-breakpoint-up(sm) {
  
  .lead {font-size:14px;}
  
}




