html,body {height:100%;
  scroll-behavior:smooth;
  
}
body > * {
  background-repeat: no-repeat;
  background-position: center;
}

body {font-family: 'Geomanist Light'}
h1,h2,h3,h4 {font-family: 'Geomanist Black'}
.slogan {font-family: 'Geomanist Medium'}
.nav,.title,h5 {font-family: 'Geomanist Regular'}
.text {font-family: 'Geomanist Light Italic'}



.opaque-overlay {
  overflow: hidden;
  position: relative; 
}
.opaque-overlay > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.75);
}



.card-text {font-size:13px;border-top:1px solid #444;padding-top:8px;}
.intro {border-top:2px solid #444;border-bottom:2px solid #444;}

.cap::first-letter {
  font-family: 'Archivo Black', sans-serif;
  color: #444;
  float: left;
  font-size: 2em;
  margin: 0 .2em 0 0;
}
.shadow {text-shadow: 1px 1px 3px rgba(0,0,0,0.3);}

.img-overlay {
  position: fixed;
  top: 90px;
  max-height: 80%;
  left: 50%;
  transform: translate(-50%, 0) scale(0, 0);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all .3s ease;
}

.overlay-dark {
  top: 0;
  position: fixed;
  background-color: #000;
  opacity: .9;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
}

@font-face { 
  font-family: Geomanist Black; 
  src: url('../fonts/Geomanist-Black.otf'); 
}

@font-face { 
  font-family: Geomanist Bold; 
  src: url('../fonts/Geomanist-Bold.otf'); 
}

@font-face { 
  font-family: Geomanist Regular; 
  src: url('../fonts/Geomanist-Regular.otf'); 
}

@font-face { 
  font-family: Geomanist Medium; 
  src: url('../fonts/Geomanist-Medium.otf'); 
}

@font-face { 
  font-family: Geomanist Light; 
  src: url('../fonts/Geomanist-Light.otf'); 
}

@font-face { 
  font-family: Geomanist Light Italic; 
  src: url('../fonts/Geomanist-Light-Italic.otf'); 
}





.bg-text {
    background-color: transparent;
    position: relative;
    overflow: hidden;
}
.bg-text::after {
    color: #f4f4f4;
    content: attr(data-bg-text);
    display: block;
    font-size: 200px;
    font-family: 'Geomanist Black';
    letter-spacing:2px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:-1;
}
